@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cor-principal: #00A99D;
  --cor-escura: #008F84;
  --cor-hover: #007A70;
}

@layer base {
  body {
    @apply text-gray-800 antialiased;
  }
}
